@media (width > 576px) {
  .start-btn {
    font-size: 2.5rem;
  }
}
@media (width > 768px) {
  .start-btn {
    font-size: 3rem;
  }
}
@media (width > 992px) {
  .start-btn {
    width: 35%;
  }
}
@media (width > 1200px) {
  .start-btn {
    font-size: 3rem;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes fade-in {
  0% {
    top: 100%;
    left: 50%;
    opacity: 0;
  }
  100% {
    top: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    top: 0;
  }
  50% {
    top: 50%;
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(115, 72%, 17%);
  font-size: 62.5%;
}

.container {
  background-color: hsl(115, 72%, 27%);
  margin: auto;
  max-width: 1200px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img {
  opacity: 0;
}

.board {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.board__img {
  position: relative;
  opacity: 0;
  width: 80%;
  margin: 5px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.start-btn {
  background-color: hsl(219, 77%, 46%);
  border: 1rem solid hsl(214, 65%, 51%);
  width: 50%;
  height: 20%;
  border-radius: 1000px;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Montserrat";
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translateX(-50%);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  cursor: pointer;
}