@keyframes fade-out {
  from {
    opacity: 1;
    display: block;
  }

  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fade-in {
  0% {
    top: 100%;
    left: 50%;
    opacity: 0;
  }

  50% {
    // opacity: 1;
  }

  100% {
    top: 0;
    left: 0;
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    top: 0;
  }

  50% {
    top: 50%;
    opacity: 1;
  }
  // 60% {
  //   opacity: 0;
  // }
}
