@use "sass:math";

@keyframes fade-out {
  from {
    opacity: 1;
    display: block;
  }

  to {
    opacity: 0;
    display: none;
  }
}

@for $i from 1 through 5 {
  @keyframes fade-in#{$i} {
    0% {
      transform: translateX(-50%);
      top: 100%;
      left: 50%;
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      transform: translateX(16.6%);
      top: 0;
      left: ($i - 1) * 20%;
      opacity: 1;
    }
  }
}

// @keyframes fade-in1 {
//   0% {
//     top: 100%;
//     left: 50%;
//     opacity: 0;
//   }

//   50% {
//     opacity: 1;
//   }

//   100% {
//     top: 0;
//     left: 0;
//     opacity: 1;
//   }
// }

// @keyframes fade-in2 {
//   0% {
//     top: 100%;
//     left: 50%;
//     opacity: 0;
//   }

//   50% {
//     opacity: 1;
//   }

//   100% {
//     top: 0%;
//     left: 20%;
//     opacity: 1;
//   }
// }

// @keyframes fade-in3 {
//   0% {
//     top: 100%;
//     left: 50%;
//     opacity: 0;
//   }

//   50% {
//     opacity: 1;
//   }

//   100% {
//     top: 0;
//     left: 40%;
//     opacity: 1;
//   }
// }

// @keyframes fade-in4 {
//   0% {
//     top: 100%;
//     left: 50%;
//     opacity: 0;
//   }

//   50% {
//     opacity: 1;
//   }

//   100% {
//     top: 0;
//     left: 60%;
//     opacity: 1;
//   }
// }

// @keyframes fade-in5 {
//   0% {
//     top: 100%;
//     left: 50%;
//     opacity: 0;
//   }

//   50% {
//     opacity: 1;
//   }

//   100% {
//     top: 0;
//     left: 80%;
//     opacity: 1;
//   }
// }

@keyframes slide-out {
  0% {
    transform: translateX(16.6%);
    top: 0;
    opacity: 1;
  }

  50% {
    transform: translateX(-50%);
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    top: 50%;
    left: 50%;
    opacity: 0;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-50%);
    top: 50%;
    left: 50%;
    opacity: 0;
  }
  20% {
    transform: translateX(-50%);
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  100% {
    transform: translateX(-50%);
    top: 50%;
    left: 50%;
    opacity: 1;
  }
}
