@use "media" as *;
@use "animations" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(115, 72%, 23%);
  font-size: 62.5%;
}

.container {
  background-color: hsl(115, 72%, 27%);
  margin: auto;
  max-width: 1200px;
  // border: 1px solid red;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img {
  position: absolute;
  opacity: 0;
  width: 15%;
  margin-top: 5px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  // transform: translateX(16.6%);

  &--1 {
    left: 0%;
  }

  &--2 {
    left: 20%;
  }

  &--3 {
    left: 40%;
  }

  &--4 {
    left: 60%;
  }

  &--5 {
    left: 80%;
  }
}

// .board {
//   height: 100vh;
//   width: 100%;
//   display: grid;
//   grid-template-columns: repeat(5, 1fr);
//   justify-items: center;
//   &__img {
//     position: relative;
//     opacity: 0;
//     width: 80%;
//     margin: 5px;
//     animation-duration: 1s;
//     animation-fill-mode: forwards;
//   }
// }

.start-btn {
  background-color: hsl(219, 77%, 46%);
  border: 1rem solid hsl(214, 65%, 51%);
  width: 50%;
  height: 20%;
  border-radius: 1000px;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Montserrat";
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translateX(-50%);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  cursor: pointer;
}
